<footer class="w-full py-12">
  <div class="max-w-5xl mx-auto">
    <div class="mt-12 pt-8 border-t border-[#ffffff10]">
      <p class="text-center text-sm text-[var(--white-icon)] space-y-2">
        <span class="block sm:inline">
          Copyright © {new Date().getFullYear()}
          <a href="https://github.com/kyle-hensman">Kyle Hensman</a>.
          All rights reserved.
        </span>
      </p>
    </div>
  </div>
</footer>
